figure{
  position:relative;
}

img
{
    width: 320px;
    display: block;
}

figcaption
{
  bottom: 5px;
  margin: 0 5px;
  padding: 5px;
  position: absolute;
  width: 300px;
  background-color: #000;
  background-color: rgba(0,0,0,0.5);
  color: #FFF;
}


ul
{
margin-left: 10px;
    height: 35px;
    list-style:none;
    padding: 0px;
    width: 210px;
    background-color: #ccc;
    color: WHITE;
    border: 1PX SOLID RGBA(0,0,0,0.3);
}

li
{
    border-left: 1px solid rgba(255,255,255,0.3);
    border-right: 1px solid rgba(0,0,0,0.3);
    float:left;
    line-height: 35px;
    font-size: 0.9em;
    width: 50px;
    text-align: center;
}

li:first-child
{
  border-left: none;
}

li:last-child
{
  border-right: none;
}
